# Ignore node_modules and build outputs
node_modules/
dist/
build/
docs/

# OS/system files
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs and environments
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Test outputs and caches
*.tmp
*.swp
*.swo
*.sass-cache
.cache
mochawesome-report/

# Ignore mock data and tests
src/mock/
**/*.spec.ts

# Allow all files inside starkex-lib explicitly
!apex-sdk-node/src/pro/starkex-lib/**
